#menu-section {
	display: flex;
	flex-direction: column;
	margin: 0 20% 50px;
}
#menu-section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#online-menu {
	color: black;
	background-color: #f4ce14;
	height: 20px;
	width: 11%;
	padding: 10px 15px;
	border: none;
	border-radius: 10%;
	font-family: marzaki-text;
	font-size: 18px;
	text-decoration: none;
}
#menu-section-body {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.body-cards {
	width: 31%;
	display: flex;
	flex-direction: column;
	background-color: #edefee;
	border-radius: 10%;
}
.body-cards img {
	height: 38%;
	border-radius: 10%;
}
.card-title {
	margin: 0 10% 5%;
	display: flex;
	justify-content: space-between;
}
.card-title .card-price {
	color: #ee9972;
}
.card-text {
	margin: 0 15%;
	color: black;
}
